<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>首页</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="app">
        <el-container>
<!-- 导航栏 -->
            <el-header>
                <el-row>
                    <el-col :span="16" :offset="2">
                        <div>
                            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                                <el-menu-item index="1">首页</el-menu-item>
                                <el-menu-item index="2">个人中心</el-menu-item>
                                <el-menu-item index="3" :disabled="activeDisabled">审核管理</el-menu-item>
                                <el-menu-item index="4">新文章</el-menu-item>
                            </el-menu>
                        </div>
                    </el-col>
                    <el-col :span="4" :offset="2">
                        <el-button type="danger" icon="el-icon-switch-button" @click="quit">退出登录</el-button>
                    </el-col>
                </el-row>
            </el-header>
<!-- 导航栏 -->
            <el-main>
<!-- 搜索栏 -->
                <el-row>
                    <el-col :span="10" :offset="6">
                        <div>
                            <el-input v-model="search" placeholder="请输入内容"></el-input>
                        </div>
                    </el-col>
                    <el-col :span="2" >
                        <div>
                            <el-button type="primary" icon="el-icon-search" @click="startSearch">搜索</el-button>
                        </div>
                    </el-col>            
                </el-row>
<!-- 搜索栏 -->         

<!-- 信息栏 -->
                <el-row v-for="(item,essayId) in itemList" :key="item.essayId">
                    <el-col :span="16" :offset="4">
                        <el-card shadow="hover">
                            <el-row>
                                <el-col :span="3">
                                    <el-image   style="width: 100px; height: 100px"
                                                :src="item.img">
                                    </el-image>           
                                </el-col>
                                <el-col :span="18" :offset="2">
                                    <el-button @click="articleInit(essayId)" type="text" style="margin-left: 16px;">
                                        {{ item.title }}
                                    </el-button>
                                </el-col>
                            </el-row>  
                            <el-row>
                                <el-col :span="6" :offset="18">
                                    <div class="bottom clearfix" >
                                        <i class="el-icon-thumb">{{ item.praise }}</i>
                                        <el-button @click="givePraise(essayId)">点赞</el-button>
                                    </div>
                                </el-col>
                            </el-row>
                        </el-card>
                      </el-col>
                </el-row>
                <el-pagination
                        class="pageList"
                        :page-sizes="[4,8,16]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="counts"
                        @size-change="handleSizeChange"
                        :current-page.sync="page"
                        @current-change="handleCurrentChange"
                ></el-pagination>
<!-- 信息栏 -->

            </el-main>
            <el-drawer
                    title="标题"
                    size="45%"
                    :visible.sync="drawer"
                    :direction="direction"
                    :with-header="false"
                    :before-close="drawerClose">
                <h2 style="text-align: center;">{{ textData.title }}</h2>
                <textarea disabled='true' style="width: 100%; height: 600px; font-size: 18px; margin-left: 10px;margin-right: 10px">{{ textData.article }}</textarea>
                <el-row>
                    <el-col :span="12" :offset="10">
                        <el-button type="primary" @click="newCommentVisible = true">新增评论</el-button>
                    </el-col>
                </el-row>

                <el-row v-for="(comment,commentId) in commentList" :key="commentId">
                    <el-card shadow="hover" style="margin-top: 20px;">
                        <el-row>
                            <el-col :span="3">
                                <el-image   style="width: 100px; height: 100px"
                                            :src="comment.headImage">
                                </el-image>
                            </el-col>
                            <el-col :span="18" :offset="2">
                                <h5>{{ comment.name }}&nbsp;&nbsp;<el-tag>{{ comment.createTime }}</el-tag></h5>
                                {{ comment.commentText }}
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="6" :offset="18">
                                <div class="bottom clearfix" >
                                    <i class="el-icon-thumb">{{ comment.praise }}</i>
                                    <el-button @click="commentPraise(commentId)">点赞</el-button>
                                </div>
                            </el-col>

                        </el-row>
                        <el-row>
                            <el-col :span="4" :offset="1">
                                <el-button type="danger" v-if="delCommentBtnVisible" @click="delComment(commentId)">删除</el-button>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-row>
            </el-drawer>
            <el-dialog
                    title="新评论"
                    :visible.sync="newCommentVisible"
                    width="30%">
                <span>
                    <el-row>
                        <el-col :span="24">
                            <div>
                                <el-input
                                        type="textarea"
                                        :rows="8"
                                        placeholder="请输入评论内容"
                                        v-model="newComment.commentText">
                                </el-input>
                            </div>
                        </el-col>
                    </el-row>
                </span>
                <span slot="footer" class="dialog-footer">
                    <el-button @click="newCommentVisible = false">取 消</el-button>
                    <el-button type="primary" @click="submitComment">确 定</el-button>
                </span>
            </el-dialog>
        </el-container>

    </div>

    <script src="../js/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/md5.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                search: '',                 //搜索框文本数据
                activeIndex: '1',           //导航栏默认选中从左往右第一个
                activeDisabled: false,      //是否开启审核禁用
                drawer: false,              //文章框是否可见
                newCommentVisible: false,   //新增评论是否可见
                direction: 'rtl',           //文章内容框弹出方式：右侧弹出
                counts: 0,                  //文章总条数
                page: 1,                    //当前第几页
                pageSize: 4,                //显示几条
                itemListId: '',
                delCommentBtnVisible: false,

                formData: {
                    id: '',
                    title: '',
                    name: 'admin',
                    headImage: '',
                    account: '',
                    password: '',
                    is_admin: false,
                    description: '文本文本',
                },
                newComment: {
                    essayId: '',
                    headImage: '',
                    name: '',
                    commentText: '',
                    praise: '',
                },
                textData: {
                    essayId: '',
                    title: '标题xx',
                    article: '',
                    praise: '',
                    isVisible: '',
                    isChecked: '',
                },
                itemList: [],
                commentList: [
                    {essayId: 1, createTime:'2022-10-9', name:'zhangSan', commentId: 1, headImage: '', commentText: '没有你我的时间和经历都毫无意义。与你相爱是我做过最轻松的事。', praise:1},
                    {essayId: 2, createTime:'2022-10-9', name:'liSi', commentId: 2, headImage: '', commentText: '我是评论2', praise:2},
                    {essayId: 2, createTime:'2022-10-9', name:'wangWu', commentId: 3, headImage: '', commentText: '我是评论3', praise:3},
                    {essayId: 2, createTime:'2022-10-9', name:'yf', commentId: 4, headImage: '', commentText: '我是评论4', praise:4},
                    {essayId: 2, createTime:'2022-10-9', name:'ceShi', commentId: 5, headImage: '', commentText: '我是评论5', praise:5},
                ]
            },
            created() {
                this.init();
            },
            methods: {
                init(){
                    const param = (window.location.search).substring(1).split('&');
                    const act = param[0];
                    var type = null;
                    if(param.length>1)type = param[1];

                    this.activeDisabled = true;
                    this.delCommentBtnVisible = false;
                    axios.get("http://localhost:8080/user/account?account="+act).then((res)=>{
                        const json = JSON.stringify(res.data.data);//格式化Json数据
                        const r = eval('(' + json + ')');//转json字符串
                        if(res.data.flag) {
                            this.formData.account = act;
                            this.formData.name = r.name;
                            this.formData.password = r.password;
                            this.formData.id = r.id;
                            this.formData.headImage = r.headImage;
                            this.newComment.name = r.name;

                            axios.get("http://localhost:8080/essay/page?page="+this.page+"&pageSize="+this.pageSize+"&name="+type+"&id="+r.id).then((res1)=>{
                                if(res1.data.flag) {
                                    this.itemList = res1.data.data.records;
                                    this.pageSize = res1.data.data.size;
                                    this.page = res1.data.data.current;
                                    this.counts = res1.data.data.total;
                                    // console.log(this.itemList);
                                }else{
                                    // console.log(account);
                                    this.$message.error("异常！");
                                }
                            });
                            axios.get("http://localhost:8080/power/account?account="+ r.account).then((res2)=>{
                                if (res2.data.flag){
                                    const json = JSON.stringify(res2.data.data);//格式化Json数据
                                    const r1 = eval('(' + json + ')');//转json字符串
                                    if(r1.admin){
                                        this.formData.is_admin = true;
                                        this.activeDisabled = false;
                                        this.delCommentBtnVisible = true
                                    }
                                    if(r1.disabled===true){
                                        alert("您已被封禁！");
                                        window.location.href = "signIn.html?";
                                    }
                                }else this.$message.error("权限查询异常！");
                            });

                        }else{
                            // console.log(account);
                            this.$message.error("异常！");
                        }
                    });
                    console.log(this.activeDisabled);
                    console.log(this.delCommentBtnVisible);
                },
                articleInit(index){
                    this.drawer = true;
                    this.itemListId = index;
                    var id = this.itemList[index].essayId;
                    this.newComment.essayId = id;
                    //console.log(id);
                    axios.get("http://localhost:8080/essay/get?id="+id).then((res)=>{
                       if(res.data.flag){
                           const json = JSON.stringify(res.data.data);//格式化Json数据
                           const r = eval('(' + json + ')');//转json字符串
                           this.textData.essayId = id;
                           this.textData.title = r.title;
                           this.textData.article = r.article;
                           this.textData.praise = r.praise;
                           this.textData.isVisible = r.isVisible;
                           this.textData.isChecked = r.isChecked;
                           this.newComment.headImage = this.formData.headImage;
                       } else {
                         this.textData.article = "找不到文章内容";
                         this.textData.title = "出错了！";
                       }
                    });
                    axios.get("http://localhost:8080/comment/page?page=1&pageSize=1000&id="+id).then((res)=>{
                        if(res.data.flag){
                            this.commentList = res.data.data.records;
                        } else this.$message.error("评论出错了！");
                    });
                },
                handleSelect(key, keyPath) {
                    switch(key){
                        case '1':
                            window.location.href = "main.html?" + this.formData.account;
                            break;
                        case '2':
                            window.location.href = "user.html?" + this.formData.account;
                            break;
                        case '3':
                            window.location.href = "check.html?" + this.formData.account;
                            break;
                        case '4':
                            window.location.href = "edit.html?" + this.formData.account;
                            break;
                    }
                },
                handleSizeChange (val) {
                    this.pageSize = val
                    this.init()
                },
                handleCurrentChange (val) {
                    this.page = val
                    this.init()
                },
                drawerClose(done) {
                    this.$confirm('确认关闭？')
                        .then(_ => {
                            done();
                        })
                        .catch(_ => {});
                },
                givePraise(index){
                    var id = this.itemList[index].essayId;
                    axios.get("http://localhost:8080/essay/get?id="+id).then((res)=>{
                        if(res.data.flag){
                            const json = JSON.stringify(res.data.data);//格式化Json数据
                            const r = eval('(' + json + ')');//转json字符串
                            this.textData.essayId = id;
                            //console.log(this.textData.essayId);
                            this.textData.title = r.title;
                            this.textData.article = r.article;
                            this.textData.praise = r.praise + 1;
                            this.textData.isVisible = r.isVisible;
                            this.textData.isChecked = r.isChecked;
                            axios.put("http://localhost:8080/essay/update",this.textData).then((res1)=>{
                                if(res1.data.flag){
                                    this.$message.success("点赞成功！");
                                    this.init();
                                } else this.$message.error("异常！");
                            });
                        } else {
                            this.textData.article = "找不到文章内容";
                            this.textData.title = "出错了！";
                        }
                    });

                },
                delComment(index){
                    this.$confirm('此操作将永久删除, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        const id = this.commentList[index].commentId;
                        axios.delete("http://localhost:8080/comment/delete/"+id).then((res)=>{
                            if(res.data.flag){
                                this.$message.success("删除成功！");
                                this.articleInit(this.itemListId);
                            } else this.$message.error("删除异常！");
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '已取消删除'
                        });
                    });
                },
                commentPraise(index){
                    axios.put("http://localhost:8080/comment/update/praise?id="+this.commentList[index].commentId).then((res)=>{
                       if(res.data.flag){
                           this.$message.success("点赞成功！");
                           this.articleInit(this.itemListId);
                       } else this.$message.error("点赞异常！");
                    });
                },
                submitComment(){
                    if(this.newComment.commentText===''){
                        this.$message.error("内容不能为空！");
                    }else{
                        axios.post("http://localhost:8080/comment",this.newComment).then((res)=>{
                           if (res.data.flag){
                               this.$message.success("添加成功！");
                               this.articleInit(this.itemListId);
                           } else this.$message.error("添加异常！");
                        });
                        this.newCommentVisible = false;
                    }

                },
                startSearch(){
                    if (this.search===''){
                        this.$message.info("请输入搜索内容！");
                    }else{
                        window.location.href = "main.html?" + this.formData.account +'&'+ this.search;
                    }
                },
                quit(){
                    window.location.href = "signIn.html?";
                },
            }
        });
    </script>
</body>

</html>