<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <div id="app">
        <el-container>
<!-- 导航栏 -->
            <el-header>
                <el-row>
                    <el-col :span="16" :offset="2">
                        <div>
                            <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect">
                                <el-menu-item index="1">首页</el-menu-item>
                                <el-menu-item index="2">个人中心</el-menu-item>
                                <el-menu-item index="3" :disabled="activeDisabled">审核管理</el-menu-item>
                                <el-menu-item index="4">新文章</el-menu-item>
                            </el-menu>
                        </div>
                    </el-col>
                    <el-col :span="2" :offset="2">
                        <el-button type="danger" icon="el-icon-switch-button" @click="quit">退出登录</el-button>
                    </el-col>
                    <el-col :span="2">
                        <el-button type="primary" @click="DialogVisible = true" icon="el-icon-s-tools">设置</el-button>
                    </el-col>
                </el-row>
            </el-header>
<!-- 导航栏 -->
            <el-main style="height: 700px">
<!--用户信息栏-->
                <el-row :gutter="20">
                    <el-col :span="4" :offset="2">
                        <div>
                            <el-image   style="width: 180px; height: 180px"
                                        :src="formData.headImage">
                            </el-image>
                        </div>
                    </el-col>
                    <el-col :span="16">
                        <div class="grid-content bg-purple">
                            <el-descriptions direction="vertical" :column="4" border>
                                <el-descriptions-item label="用户名">{{ formData.name }}</el-descriptions-item>
                                <el-descriptions-item label="已发布文章" :span="2">
                                    <el-tag size="small">{{ passedArticle }}</el-tag>
                                </el-descriptions-item>
                                <el-descriptions-item label="未审核">
                                    <el-tag size="small">{{ checkingArticle }}</el-tag>
                                </el-descriptions-item>
                                <el-descriptions-item label="描述">{{ formData.description }}</el-descriptions-item>
                            </el-descriptions>
                        </div>
                    </el-col>
                </el-row>
<!--用户信息栏-->

<!--选择栏-->
                <el-row>
                    <el-col :span="8">
                        <el-upload
                                class="upload-demo"
                                ref="upload"
                                action="http://localhost:8080/common/upload"
                                :on-preview="handlePreview"
                                :on-remove="handleRemove"
                                :on-success="submitUpload"
                                :on-error="errorUpload"
                                :file-list="fileList">
                            <el-button slot="trigger" size="small" type="primary">上传图片</el-button>
                            <div slot="tip" class="el-upload__tip">只能上传jpg/png文件，且不超过500kb</div>
                        </el-upload>

                    </el-col>
                    <el-col :span="10" :offset="2">
                        <template>
                            <el-select v-model="selectValue" placeholder="请选择">
                                <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value"
                                        :disabled="item.disabled">
                                </el-option>
                            </el-select>
                        </template>
                        <el-button type="primary" @click="jumpInto">查看</el-button>
                    </el-col>

                </el-row>
<!--选择栏-->
            </el-main>
        </el-container>
        <el-dialog
                title="修改信息"
                :visible.sync="DialogVisible"
                width="30%"
                center>
            <span>
                <template>
                    <el-button type="primary" @click="checkUserPassword">验证您的身份</el-button>
                </template>
                <template>
                    <el-button type="text" @click="updateUserName">修改用户名</el-button>
                </template>
                <template>
                    <el-button type="text" @click="updateUserPwd">修改密码</el-button>
                </template>
                <template>
                    <el-button type="text" @click="deleteUser">删除账户</el-button>
                </template>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="DialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="DialogVisible = false">确 定</el-button>
            </span>
        </el-dialog>
    </div>

    <script src="../js/vue.js"></script>
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/md5.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                selectValue: '所有文章',
                activeIndex: '2',
                activeDisabled: false,  //是否开启审核禁用
                passedArticle: '20',    //已通过的文章数量
                checkingArticle: '12',  //未通过的文章数量
                DialogVisible: false,   //对话框是否可见
                identify: false,        // 验证身份是否成功

                fileList: [],
                formData: {
                    id: '',
                    title: '',
                    name: 'admin',
                    headImage: '',
                    account: '123456',
                    password: '',
                    is_admin: true,
                    description: '文本文本',
                },
                options: [{
                    value: '选项1',
                    label: '所有文章'
                }, {
                    value: '选项2',
                    label: '已通过'
                }, {
                    value: '选项3',
                    label: '未通过'
                }, {
                    value: '选项4',
                    label: '需要审核的文章',
                    disabled: true,
                }],

            },
            created() {
                if(this.formData.is_admin){
                    this.activeDisabled = false;
                    this.options[3].disabled = false;
                }else {
                    this.activeDisabled = true;
                    this.options[3].disabled = true;
                }
                this.init();
            },
            methods: {
                init(){
                    var account = (window.location.search).substring(1);//截取url中的一部分
                    axios.get("http://localhost:8080/user/account?account="+account).then((res)=>{
                        const json = JSON.stringify(res.data.data);//格式化Json数据
                        const r = eval('(' + json + ')');//转json字符串
                        if(res.data.flag) {
                            this.formData.account = account;
                            this.formData.name = r.name;
                            this.formData.password = r.password;
                            this.formData.id = r.id;
                            this.formData.headImage = "/common/download?name=" + r.headImage;

                            this.$message.success("登录成功！");
                        }else{
                            // console.log(account);
                            this.$message.error("异常！");
                        }
                    })//以账号查询
                },
                handleSelect(key, keyPath) {
                    switch(key){
                        case '1':
                            window.location.href = "main.html?" + this.formData.account;
                            break;
                        case '2':
                            window.location.href = "user.html?" + this.formData.account;
                            break;
                        case '3':
                            window.location.href = "check.html?" + this.formData.account;
                            break;
                        case '4':
                            window.location.href = "edit.html?" + this.formData.account;
                            break;
                    }
                },
                quit(){
                    window.location.href = "signIn.html?";
                },
                jumpInto(){
                    alert(this.selectValue)
                    switch (this.selectValue){
                        case "所有文章":
                            window.location.href = "main.html?" + this.formData.account + "&all";
                            break;
                        case "选项2":
                            window.location.href = "main.html?" + this.formData.account + "&passed";
                            break;
                        case "选项3":
                            window.location.href = "main.html?" + this.formData.account + "&notPass";
                            break;
                        case "选项4":
                            window.location.href = "check.html?" + this.formData.account + "&check";
                            break;
                    }
                },
                updateUserPwd() {
                    if(this.identify){
                        this.$prompt('修改账户密码', '提示', {
                            confirmButtonText: '确定',
                            cancelButtonText: '取消',
                            inputPattern: /^[a-zA-Z0-9]{6,16}$/,
                            inputErrorMessage: '密码不能包含特殊字符，至少6位，最多16位'
                        }).then(({ value }) => {
                            const md5Password = hex_md5(value + this.formData.account);
                            if(this.formData.password === md5Password)this.$message.warning("密码不能与原先一致");
                            else{
                                this.formData.password = md5Password;//更新密码
                                axios.put("http://localhost:8080/user", this.formData).then((res)=>{
                                    if(res.data.flag) {
                                        this.$message.success("修改成功");
                                    }else this.$message.error("修改异常");
                                });
                            }
                        }).catch(() => {
                            this.$message({
                                type: 'info',
                                message: '取消输入'
                            });
                        });
                    } else {
                        this.$message({
                            type:'warning',
                            message:'请先验证您的身份',
                        })
                    }
                },
                checkUserPassword(){
                    this.$prompt('请输入密码', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputValidator: (val) => {
                            const md5Password = hex_md5(val + this.formData.account);
                            if (md5Password === this.formData.password) {
                                return true;
                            }
                            return false;
                        },
                        inputErrorMessage: '密码不正确',
                    }).then(({ value }) => {
                        this.$message({
                            type: 'success',
                            message: '验证成功',
                        });
                        this.identify = true;
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消'
                        });
                    });
                },
                updateUserName() {
                    this.$prompt('修改用户名', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputPattern: /^[\u4E00-\u9FA5a-zA-Z0-9_]{4,10}$/,
                        inputErrorMessage: '可以汉字,英文字母,数字,下划线组成,4-10位'
                    }).then(({ value }) => {
                        this.formData.name = value;//更新用户名
                        axios.put("http://localhost:8080/user", this.formData).then((res)=>{
                            if(res.data.flag) {
                                this.$message.success("修改成功");
                            }else this.$message.error("修改异常");
                        });
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消输入'
                        });
                    });
                },
                deleteUser(){
                    this.$prompt('请输入账户密码', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        inputValidator: (val) => {
                            const md5Password = hex_md5(val + this.formData.account);
                            if (md5Password === this.formData.password) {
                                return true;
                            }
                            return false;
                        },
                        inputErrorMessage: '密码不正确',
                    }).then(({ value }) => {
                        axios.delete("http://localhost:8080/user/delete/" + this.formData.id).then((res)=>{
                            if(res.data.flag) {
                                alert("删除成功");
                                window.location.href = "signIn.html?";
                            }else{
                                this.$message.error("删除异常！");
                            }
                        })
                    }).catch(() => {
                        this.$message({
                            type: 'info',
                            message: '取消'
                        });
                    });
                },
                submitUpload(response, file, fileList){
                    //console.log(response.msg);
                    this.formData.headImage = response.msg;
                    axios.put("http://localhost:8080/user", this.formData).then((res)=>{
                        if(res.data.flag) {
                            this.formData.headImage =  "/common/download?name=" + response.msg;
                            this.$message.success("上传成功！");
                        }else this.$message.error("修改图片异常");
                    });

                },
                errorUpload(err, file, fileList){
                    this.$message.error("上传失败！");
                },
                handleRemove(file, fileList) {
                    console.log(file, fileList);
                },
                handlePreview(file) {
                    console.log(file);
                },
                handleExceed(files, fileList) {
                    this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
                },
                beforeRemove(file, fileList) {
                    return this.$confirm(`确定移除 ${ file.name }？`);
                }
            }
        });
    </script>
</body>

</html>